<div class="dt-nav-outer">
    <div class="dt-wrapper">
        <img src="./assets/logo_white.svg" alt="Werktijden logo" class="dt-logo">
        <nav class="dt-nav">
            <ul>
                <li><a href=""><img src="/assets/werktijden_clock.svg" alt="" width="20" height="20">Werktijden</a></li>
                <li><a href=""><img src="/assets/white_stopwatch.svg" alt="" width="20" height="20">Uren</a></li>
                <li><a href=""><img src="/assets/calendar.svg" alt="" width="20" height="20">Evenementen</a></li>
                <li><a href=""><img src="/assets/parasol.svg" alt="" width="20" height="20">Verlof</a></li>
                <li><a href=""><img src="/assets/group.svg" alt="" width="20" height="20">Medewerkers</a></li>
            </ul>
        </nav>
    </div>
</div>
