<nav class="mobile-nav">
  <ul>
    <li><a href=""><img src="/assets/docs.svg" alt="Docs icon" width="20" height="20"></a></li>
    <li><a href=""><img src="/assets/clock.svg" alt="Clock icon" width="20" height="20"></a></li>
    <li><a href=""><img src="/assets/check.svg" alt="Check icon" width="20" height="20"></a></li>
    <li><a href=""><img src="/assets/stopwatch.svg" alt="Stopwatch icon" width="20" height="20"></a></li>
    <li><a href=""><img src="/assets/burger-menu.svg" alt="Burger menu" width="20" height="20"></a></li>
  </ul>
</nav>