<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<title>Aanwezigheidsoverzicht</title>
</head>
<body>
	<div class="content-wrapper">
		<header>
			<!-- Heading text -->
			<div class="heading-text">
				<h1 class="heading-title">Kloktijden</h1>
				<p class="heading-subtitle">TristanHVA</p>
			</div>
			<!-- View buttons -->
			<div class="view-button">
				<label class="color-switch">
					<input type="checkbox" name="color-mode" id="color-mode" value="1">
					<label for="color-mode" data-off="Ingeklokt" data-on="Uitgeklokt" class="switch-inner"></label>
				</label>
			</div>
		</header>

		<main>
			<!-- Overzicht  -->
			<section class="overzicht">
				<!-- Ingeklokt -->
				<%- include("./modules/Overzicht/Ingeklokt") %>

				<!-- Uitgeklokt -->
				<%- include("./modules/Overzicht/Uitgeklokt") %>
			</section>
		</main>

		<%- include("./modules/MobileNav") %>
	</div>


<script src="/scripts/script.js"></script>
</body>
</html>