<%- include("./partials/head.ejs") %>
	<header>
		<!-- Heading text -->
		<div class="heading-text">
			<h1 class="heading-title">Uitklokken</h1>
		</div>
	</header>
	<main>
		<!-- Uitklokken  -->
		<section class="uitklokken">
			<!-- Uitklokken container -->
			<div class="uitklokken-container component">
                <!-- Uitklok tijd -->
                <p class="klok-tijd">17:30</p>
				<!-- Individuele medewerker -->
				<div class="card">
					<img src="" alt="" width="40" height="40">
					<div class="card-content">
						<p class="mw-afdeling-title">Afdeling</p>
						<p class="mw-afdeling">TristanHVA</p>
					</div>
				</div>
                <button class="klok-btn">Uitklokken</button>
			</div>
		</section>
	</main>
	<%- include("./modules/MobileNav") %>
</body>
</html>