:root{
	--main-bg: #F3F4F6;
	--primary: #059669;
	--primary-text: #FFFFFF;
	--light-text: #374151;
	--light-border: #DDDDDD;
	--container-bg: #FFFFFF;
	--secondary: #960505;

	--container-radius: 8px;
	--btn-radius: 6px;

	--container-shadow: 0px 1px 2px 0px #37415125;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background: var(--main-bg);
    font: 100%/1.4 "Helvetiva Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

ul{
	list-style: none;
}

/* -------------------------------------------------------------------------- */
/*                              Overzichtspagina                              */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Heading -------------------------------- */
header{
	background: var(--main-bg);
	border-bottom: 1px solid var(--light-border);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem;
	row-gap: 1rem;
}

.heading-text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading-title{
	font-size: 1rem;
	font-weight: 600;
}

.heading-subtitle{
	font-size: 1.2rem;
	font-weight: 400;
}

/* View switch */
.view-button{
	display: flex;
}

.color-switch{
	display: flex;
	position: relative;
	margin: 0px;
}

.color-switch > label.switch-inner{
	margin: 0px;
	width: 11rem;
	height: 2rem;
	background: var(--light-border);
	border-radius: var(--btn-radius);
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease;
	display: block;
}

.color-switch > label.switch-inner:before{
	content: attr(data-on);
	position: absolute;
	font-size: 0.8rem;
	font-weight: 500;
	top: 7px;
	right: 0;
	width: 5.5rem;
	text-align: center;
}

.color-switch > label.switch-inner:after{
	content: attr(data-off);
	font-size: 0.9rem;
	width: 5.5rem;
	height: 22px;
	background: var(--primary);
	color: var(--primary-text);
	border-radius: var(--btn-radius);
	position: absolute;
	text-align: center;
	transition: all 0.3s ease;
	box-shadow: 0px 0px 6px -2px #111;
	padding: 5px 0px;
	left: 0;
	top: 0;
}

.color-switch input[type="checkbox"]{
	cursor: pointer;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 1;
	margin: 0px;
}

.color-switch input[type="checkbox"]:checked + label.switch-inner:after{
	content: attr(data-on);
	left: 50%;
	background: var(--secondary);
}

.color-switch input[type="checkbox"]:checked + label.switch-inner:before{
	content: attr(data-off);
	right: auto;
	left: 0;
}

/* ------------------------------- Mobile menu ------------------------------ */
.mobile-nav{
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0.6rem;
}

.mobile-nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	border-radius: var(--container-radius);
	box-shadow: var(--container-shadow);
	background: var(--container-bg);
}

.mobile-nav ul li{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
}

.mobile-nav ul li a{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
}

.mobile-nav ul li::after{
	content: "";
	position: absolute;
	right: 0;
	height: 80%;
	width: 1px;
	margin: auto 0;
	background: var(--light-border);
}

.mobile-nav ul li:last-child::after{
	width: 0;
}
